<app-navbar></app-navbar>
<div class="center">
  <div class="container">
    <div class="header-grid">
      <div></div>
      <h1 class="title"> Hello </h1>
      <button class="search-button" (click)="newBranch()">
        +
      </button>
    </div>
    <div class="search-form">
      <div class="search-field">
        <mat-form-field class="search-box">
          <input matInput placeholder="Search ..." [formControl]="searchFormControl"/>
        </mat-form-field>
      </div>
      <button mat-raised-button class="search-button" (click)="search()"> Search </button>
    </div>
    <div *ngIf="branchList" class="branch-list">
      <div *ngFor="let branch of branchList" class="branch-item">
        <img src="assets/image.png" height="144px" class="image"/> <!-- dont prefix with '/' -->
        <div class="info">
          <div> <!-- Info top -->
            <div class="name"> {{ branch.BranchName }}</div>
            <div class="desc"> Opens: {{ branch.DailyHours }}</div>
            <div class="location"> L: {{ branchAddress(branch) }}</div>
          </div>
          <div class="others">
            <div> 
              <mat-icon>email</mat-icon>
              <a [href]="'mailto:'+branch.email"> {{ branch.Email }} </a>
             </div>
             <div> 
                <mat-icon>phone</mat-icon>
                <a [href]="'tel:'+branch.PhoneNo"> {{ branch.PhoneNo }} </a>
            </div>
          </div>
        </div>
        <button mat-raised-button [routerLink]="'/branch/' + branch.BranchID"> edit </button>
        <button mat-raised-button (click)="deleteBranch(branch.BranchID)"> delete </button>
      </div>
    </div>
    <div *ngIf="!branchList"> Loading... </div>
  </div>
</div>