<app-navbar></app-navbar>
<div class="center">
    <div class="container">
        <div class="centered">
            <div class="typo-title">Login</div>
            <div class="field">
                <div class="label">Username</div>
                <input class="input-box"[(ngModel)]="username" />
            </div>
            <div class="field">
                <div class="label">Password</div>
                <input class="input-box" [(ngModel)]="password" />
            </div>
            <button mat-raised-button (click)="login()"> Login </button>
        </div>
        
    </div>
</div>