@import "../../styles.scss";

@include common_style;

.center {  
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    box-shadow: none;
    background-color: white;
    width: 100%;
    max-width: 360px;
    padding: 32px;
    border-radius: 16px;


    .centered {
      width: calc(100% - 64px);
      .field {
        width: 75%;
        padding: 8px;
  
        .label {
          font-weight: bolder;
        }
      }
    }
  }

}
