@import "../../styles.scss";

@include common_style;

.center {
  margin: auto;

  .container {
    box-shadow: none;
    background-color: white;
    max-width: 300px;

    .header {
      position: relative;
      width: 100%;
      text-align: center;

      .title {
        font-size: 1.5em;
        position: absolute;
      }
    }

    .field {
      width: 75%;
      padding: 8px;

      .label {
        font-weight: bolder;
      }

      .input-box {
        width: 100%;
        border: none;
        background-color: #dddddd;
        padding: 8px;
      }
    }
  }
}
