<div class="container product-item">
    <img src="assets/image.png" width='128px' height='128px' />
    <div class="overlay" *ngIf='allowEdit'>
        <button class="action-button edit" (click)="editItem()">
            <mat-icon class="action-icon">edit</mat-icon>
        </button>
        <button class="action-button delete" (click)="deleteItem()">
            <mat-icon class="action-icon">delete</mat-icon>
        </button>
    </div>
    <div class="info"> 
        <div class="name"> {{item.ProdName}} </div> 
        <div class="type"> {{ item.ProdType || '??' }} </div>
        <div class="detail"> 
            <span class="unit"> THB </span>
            <span class="value"> {{item.DefaultPrice.toFixed(2)}}  </span>
        </div>
        <div class="detail" *ngIf="allowEdit">
            <span class="unit"> Stock </span>
            <span class="value"> {{item.AmountInStock}}  </span>
        </div>
    </div>
</div>