@import '../../styles.scss';

@include common_style;

.button {
    width: 48px;
    height: 36px;
    border-radius: 8px;
    border: none;
    
    * {
        color: white;
    }
}

.add-button {
    background-color: $green;
}

.add-button:disabled {
    opacity: 0.5;
}

.delete-button {
    background-color: $red;
}

.center {
    position: relative;
    height: calc(100vh - 76px - 48px); // minux navbar and bottom

    .container {
        background: $light-brown;
        position: fixed;
        top: 76px;
        width: 100%;
        max-width: 800px;
        max-height: calc(100vh - 76px); // - navbar size and top 
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        .header {
            width: 100%;
    
            .title {
                text-align: center;
                margin: 16px auto;
                font-size: 32px;
                font-weight: 500;
            }
        }
    
        .table-wrapper {
            overflow-y: auto;
            display: inline-block;
            padding-bottom: 48px;
            
            table {
                text-align: center;
                thead {
                    tr {
                        font-weight: 500;
                        th {
                            background-color: $light-brown;
                            position: sticky;
                            top: 0;
                            z-index: 2;
                        }  
                    }
                }
        
                tr {
                    height: 48px;
                    
                    td {
                        border-bottom: 1px solid #eeeeee;
                    }
                }
        
                tfoot {
                    #add-row {
                        th {
                            background-color: $light-brown;
                            position: sticky;
                            bottom: 48px;
                        }
                    }
                    .summary {
                        th {
                            background-color: $medium-brown;
                            border: none;
                            position: sticky;
                            bottom: 0px;
                        }
                    }
                } 
            }
        }
    }

    .distributed {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        width: 100%;

        button {
            flex-grow: 1;
            border-width: 0 1px 0 1px;
            background-color: #eeeeee;
            font-weight: bold;
            height: 48px;
            font-size: 1.25em;
        }
    }
}

// override normal dialog
.mat-dialog-container {
    padding: 0! important;
}
