<app-navbar></app-navbar>
<div class="center">
  <div class="container">
    <div class="header">
      <div class="title" *ngIf="!isCreating">
        Transaction # {{ transaction.TransID }} on {{ transaction.TransDate.toLocaleDateString() }}
      </div>
      <div class="title" *ngIf="isCreating">
        Create New Transaction
      </div>
    </div>
    <div class="form-center">
        <mat-form-field>
          <input matInput placeholder="Customer #" [(ngModel)]="transaction.CardID">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date" type="date" [(ngModel)]='convertedTransDate'>
        </mat-form-field>
      </div>
    <table>
      <thead>
        <tr>
          <td style="width: 64px"> No. </td>
          <td style="width: 192px"> Product </td>
          <td style="width: 96px"> Product # </td>
          <td style="width: 128px"> Amount </td>
          <td style="width: 128px"> Price </td>
          <td style="width: 128px"> Total </td>
          <td *ngIf="isCreating"> Delete </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of productLines; let idx = index">
          <td> {{ idx + 1 }}</td>
          <td> {{ getProductName(line.ProductID) }} </td>
          <td> {{ line.ProductID }} </td>
          <td> {{ line.NumBuy }} </td>
          <td> {{ line.Price }} </td>
          <td> {{ line.NumBuy * line.Price }} </td>
          <td *ngIf="isCreating">
            <button class="button delete-button">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        <tr *ngIf='isCreating'>
          <td> Add </td>
          <td>
            <mat-select placeholder="Choose Product"
              [(ngModel)]="productLine.ProductID" (selectionChange)="changeSelection($event)">
              <mat-option *ngFor="let product of productsList" [value]="product.ProID">
                {{ product.Name }}
              </mat-option>
            </mat-select>
          </td>
          <td>
            {{ productLine.ProductID }}
          </td>
          <td>
            <mat-form-field class="input-box" [floatLabel]="'never'">
              <input type="number" matInput placeholder="Amount" [(ngModel)]="productLine.NumBuy" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="input-box" [floatLabel]="'never'">
              <input type="number" matInput placeholder="Price" [(ngModel)]="productLine.Price" />
            </mat-form-field>
          </td>
          <td>
            {{ productLine.Price * productLine.NumBuy }}
          </td>
          <td>
            <button class="button add-button" (click)='addProductLine()'>
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </tr>
        <tr class="summary">
          <td colspan="5"></td>
          <td> {{ getTransactionSum() }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!productLines"> Loading... </div>
  </div>
  <div class="distributed">
    <button (click)="createTransaction()">Create</button>
    <button (click)="cancel()">Cancel</button>
    <button (click)="clear()">Clear</button>
  </div>
</div>