@import '../../styles.scss';

@include common_style;


.center {
    .container {
        max-width: 1400px;
        background-color: $medium-brown;
    }

    .header {
        width: 100%;
        color: $dark-brown;

        .title {
            text-align: center;
            margin: 0 auto;
            font-size: 32px;
            font-weight: 500;
        }
        .add-button {
            position: absolute;
            right: 0px;
            background-color: $dark-brown;
            border: none;
            border-radius: 16px 0 0 16px;
            color: $light-brown;
            font-size: 1.5rem;
            font-weight: bold;
            height: 48px;
            width: 64px;
        }
    }

    .employee-grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        


        .employee-item {
            margin: 12px;
            position: relative;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 192px;
                height: 192px;
        
                display: flex;
                flex-direction: row;
                flex-grow: 0;
                justify-content: flex-end;
                align-items: flex-start;
        
                .action-button {
                    margin: 4px;
                    border-radius: 4px;
                    border: none;
        
        
                    mat-icon {
                        font-size: 24px;
                        height: unset;
                        width: unset;
                    }
                }
                .action-button.delete {
                    background-color: $red;
                }
            }
        }
    }
}

// override normal dialog
.mat-dialog-container {
    padding: 0! important;
}