@import '../../styles.scss';

@include common_style;

.button {
    width: 48px;
    height: 36px;
    border-radius: 8px;
    border: none;
    
    * {
        color: white;
    }
}

.edit-button {
    background-color: $yellow;
}

.delete-button {
    background-color: $red;
}

.center {
    position: relative;

    .container {
        background: $light-brown;
        position: fixed;
        top: 76px;
        width: 100%;
        max-width: 800px;
        max-height: calc(100vh - 76px); // - navbar size and top 
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        .header {
            .title {
                text-align: center;
                margin: 0 auto;
                font-size: 32px;
                font-weight: 500;
                align-self: center;
            }

        }
        .search-form {
            width: 100%;
            max-width: 800px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 128px;
            grid-template-rows: auto;
            align-items: center;
    
            > * {
                margin: 0 8px;
            }
        }

        .table-wrapper {
            overflow-y: auto;
            position: relative;

            table {    
                thead {
                    th {
                        background-color: $light-brown;
                        position: sticky;
                        top: 0;
                        font-weight: 500;
                    }
                }
        
                tr {
                    height: 48px;
                    
                    td {
                        border-bottom: 1px solid #eeeeee;
                    }
                }
            }
        }
    }
  

}

// override normal dialog
.mat-dialog-container {
    padding: 0! important;
}