<app-navbar></app-navbar>
<div class="center">
    <div class="container">
        <div class="header">
            <div class="title"> 
                Transactions
                <button class="add-button" (click)="addTransaction()"> + </button>
            </div>
        </div>
        <div class="search-form">
            <div class="search-field">
                <mat-form-field class="search-box">
                    <input matInput placeholder="Branch" [(ngModel)]="filter.BranchID" />
                </mat-form-field>
                <mat-form-field class="search-box">
                    <input matInput type="date" placeholder="From Date" [(ngModel)]="fromDate" />
                </mat-form-field>
                <mat-form-field class="search-box">
                    <input matInput type="date" placeholder="To Date" [(ngModel)]="toDate" />
                </mat-form-field>
                <button class="search-button" (click)="search()">
                    <img id="search-icon" src="assets/search.svg" width="24px">
                </button>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <td style="width: 64px"> ID </td>
                    <td style="width: 64px"> Branch </td>
                    <td style="width: 96px"> Cust No. </td>
                    <td style="width: 192px"> Date </td>
                    <td style="width: 128px"> Amount </td>
                    <td> Edit </td>
                    <td> Delete </td>
                </tr>
            </thead>
            <tbody *ngFor="let transaction of transactions">
                <tr>
                    <td> {{transaction.TransID}} </td>
                    <td> {{transaction.BranchID}} </td>
                    <td> {{transaction.CardID}} </td>
                    <td> {{transaction.TransDate.toLocaleDateString()}} </td>
                    <td> {{transaction.Amount}} </td>
                    <td> 
                        <button class="button edit-button" (click)="gotoTransaction(transaction.TransID)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                    <td>
                        <button class="button delete-button" (click)="deleteTransaction(transaction.TransID)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>                    
                </tr>
            </tbody>
        </table>
        <div *ngIf="!transactions"> Loading... </div>
    </div>
</div>