<div class="navbar">
  <!-- Left menu  -->
  <div class="menu">
    <div class='menu-item title'>
      Digital Cafe
    </div>
  </div>
  <!--  Right menu -->
  <div class="menu">
      <a *ngFor="let item of ITEMS" 
        [routerLink]="'/' + item.url">
        <div [ngClass]="{'menu-item': true, 'active': path == item.url}">
          <!-- <div class="center">
            <mat-icon>{{item.iconName}}</mat-icon>
          </div> -->
          <p> {{item.buttonText}} </p>
        </div>
      </a>
    <div class="menu-item">
      <div class="center">
        <mat-icon> account_circle </mat-icon>
      </div>
      <div>
        {{ role }}
      </div>
    </div>
    <a *ngIf="isLoggedIn" style="cursor: pointer;" (click)="logout()">
      <div class="menu-item">
        Logout
      </div>
    </a>
    <a *ngIf="!isLoggedIn" style="cursor: pointer;" (click)="login()">
        <div class="menu-item ">
          Login
        </div>
      </a>
  </div>
</div>