<div class="navbar">
  <!-- Left menu  -->
  <div class="menu">
    <div class='menu-item title'>
      Digital Cafe
    </div>
  </div>
  <!--  Right menu -->
  <div class="menu">
    <div *ngFor="let item of ITEMS" [ngClass]="{'menu-item': true, 'active': path == item.url}">
      <div class="center">
        <mat-icon>{{item.iconName}}</mat-icon>
      </div>
      <div>
        <a [routerLink]="'/' + item.url"> {{item.buttonText}} </a>
      </div>
    </div>
    <div class="menu-item">
      <div class="center">
        <mat-icon> account_circle </mat-icon>
      </div>
      <div>
        <a> Role: {{ role }} </a>
      </div>
    </div>
  </div>
</div>