@import  "../../styles.scss";

.navbar {
  position: relative;
  height: 64px;
  z-index: 5;
  background-color: $dark-brown;
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  box-shadow: 0 0 4px black;
}
.menu {
  display: flex;
  flex-direction: row;

  .menu-item {
    height: 64px;
    border-radius: 8px 8px 0 0;
    padding: 0 8px;
    color: $light-brown;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .mat-icon {
      font-size: 36px;
      padding-right: 12px;
    }

    * {
      color: $light-brown;
      text-decoration: none;
    }
  }
  .menu-item.active {
    background-color: $light-brown;

    * {
      color: $dark-brown;
    }
  }

  .menu-item.title {
    font-size: 36px;
    font-weight: lighter;
  }
}

