<div class="center">
    <div class="container">
        <div class="header-grid grid-centered">
            <div></div>
            <div class="typo-title" *ngIf="!isCreating">Product Info</div>
            <div class="typo-title" *ngIf="isCreating">New Product</div>
            <button class="circle-button" [mat-dialog-close]="null"> X </button>
        </div>
        <div class="centered">
            <div class="profile" (click)="openFileUpload()" style="cursor: pointer;">
            <img class="profile-size" src="assets/image.png"/>
            <div class="overlay profile-size">
            <img class="icon" src="assets/upload.svg" width="32px">
            </div>
        </div>
        <input type='file' accept="image/png, image/jpg" style='display: none;' id="fileUpload" (change)='handleFiles($event.target.files)'>
        </div>
        <div [ngClass]='{"two-per-row": isCreating, "three-per-row": !isCreating}'>
            <div class="field" *ngIf="!isCreating">
                <div class="label">ProductID</div>
                <input class="input-box"[(ngModel)]="currentProduct.ProdID" disabled />
                <!-- <div class="error-message">error!</div> -->
            </div>
            <div class="field">
                <div class="label">Name</div>
                <input class="input-box" [(ngModel)]="currentProduct.ProdName" />
                <!-- <div class="error-message">error!</div> -->
            </div>
            <div class="field"  >
                <div class="label">Name</div>
                <mat-form-field>
                    <mat-select [(ngModel)]="currentProduct.ProdType">
                        <mat-option *ngFor="let type of ['Dessert', 'Beverage']" [value]='type'>
                            {{ type }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="two-per-row">
            <div class="field">
                <div class="label">Amount In Stock</div>
                <input type='number' class="input-box" [(ngModel)]="currentProduct.AmountInStock" />
                <!-- <div class="error-message">error!</div> -->
            </div>
            <div class="field">
                <div class="label">Default Price</div>
                <input type='number' class="input-box" [(ngModel)]="currentProduct.DefaultPrice" />
                <!-- <div class="error-message">error!</div> -->
            </div>
        </div>
        <button class="rounded-button" (click)="save()"> {{ isCreating ? 'Create' : 'Save' }} </button>
    </div>
</div>