@import "../../styles.scss";

@include common_style;





.profile-size {
  width: 192px;
  height: 192px;
}


.center {
  .container {
    box-shadow: none;
    background-color: white;


    .header {
      width: 100%;
      text-align: center;
      display: grid;
      grid-template-columns: auto 128px;
      grid-template-rows: 64px;
    }

    .profile {
      position: relative; // just for

      .overlay {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.3);

        .icon {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(50%);
          transition-duration: all 500ms;
          border: 2px solid white;

          padding: 24px;
          border-radius: 50%;

          path {
            fill: white !important;
          }
        }
      }

    }
    #type-select {
      // background-color: red;

      .mat-form-field-infix {
        border-top: 0;
      }
    }

    .profile:hover {
      .overlay {
        display: block;

        .icon {
          transform: translate(-50%, -50%);
        }
      }
    }

    .input-box {
      width: 100%;
    }
  }
}
