@import '../../styles.scss';

@include common_style;


.grid-center {
    justify-items: stretch;
    align-items: center;
}

.center {
    img.background {
        width: 100%;
        max-height: calc(100vh - 76px);
        position: absolute;
        opacity: 0.4;
    }

    .container {
        background: $light-brown;
        position: fixed;
        top: 124px;
        width: 100%;
        max-width: 800px;
        max-height: calc(100vh - 48px - 76px); // - navbar size and top 
        min-height: calc(100vh - 48px - 76px); // - navbar size and top 
        // padding-bottom: 64px;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 16px 16px 0 0;
        box-shadow: 0px 1px 5px 2px #898989;
        z-index: 1;
       
        .form {
            width: 100%;
            position: sticky;
            top: 0px;
            background-color: $medium-brown;
            z-index: 2;
            border-radius: 16px 16px 0 0;
            box-shadow: 0px 1px 5px 2px #898989;

          
            .header {
                display: grid;
                grid-template-columns: 96px auto 96px;
                grid-template-rows: 72px;


                .add-button {
                    cursor: pointer;
                    background-color: $dark-brown;
                    border: none;
                    border-radius: 50%;
                    color: $light-brown;
                    font-size: 1.5rem;
                    font-weight: bold;
                    height: 48px;
                    width: 48px;
                }
            }

            .search-form {
                max-width: 600px;
                display: grid;
                grid-template-columns: auto 160px 96px;
                grid-template-rows: 72px;
                margin: 0 auto;

                > * {
                    margin: 12px;
                }

                .search-button {
                    @include button_style;
                }
            }
            
        }
    
        .grid-wrapper {
            overflow: auto;
            margin: 0 8px;
            .product-grid {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                grid-template-rows: auto;   
                
        
                app-product-item {
                    margin: 12px;
                }
            }
        }
    }

}

// override normal dialog
.mat-dialog-container {
    padding: 0! important;
}
