<app-navbar></app-navbar>
<div class="center">
    <img class='background' src='assets/product-bg.jpg'/>
    <div class="container">
        <div class="form">
            <div class="header grid-center">
                <div></div>
                <div class="typo-title"> 
                    Product 
                </div>
                <button class="add-button" (click)="newProductModal()"> + </button>
            </div>
            <div class="search-form grid-center">
                <mat-form-field class="search-box">
                    <input matInput placeholder="Name" [(ngModel)]='filter.name' />
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label> Product type </mat-label>
                    <mat-select class="search-box" [(ngModel)]="filter.type" placeholder='Select type'>
                        <mat-option [value]=''>
                            Any
                        </mat-option>
                        <mat-option *ngFor="let type of ['Coffee', 'Beverage']" [value]='type'>
                            {{ type }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <button class="search-button" (click)="search()"> Search </button>
            </div>
        </div>
        <div class="grid-wrapper">
            <div class="product-grid">
                <!-- <div *ngFor="let product of products">
                    {{product.Name}}
                </div> -->
                <app-product-item *ngFor="let product of products" [item]="product" [allow-edit]='allowEdit'></app-product-item>
            </div>
            <div *ngIf="!products"> Loading... </div>
        </div>
    </div>
</div>