<app-navbar></app-navbar>
<div class="center">
    <div class="container">
        <!-- heder -->
        <div class="header">
            <div class="title" *ngIf="isCreating"> New Employee </div>
            <div class="title" *ngIf="!isCreating"> Employee {{ employee.EmpID }} </div>


            <mat-form-field>
                <input matInput placeholder='Employee #' [(ngModel)]='employee.EmpID' disabled>
            </mat-form-field>
            <mat-select placeholder='Branch #' [(ngModel)]="employee.BranchID">
                <mat-option *ngFor="let branch of allBranches" [value]='branch.BranchID'>{{branch.BranchID}}: {{branch.BranchName}}</mat-option>
            </mat-select>
            <mat-form-field>
                <input matInput placeholder='First Name' [(ngModel)]='employee.FirstName'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder='Last name' [(ngModel)]='employee.LastName'>
            </mat-form-field>
            <mat-form-field>
                <input matInput type='number' placeholder='Age' [(ngModel)]='employee.Age'>
            </mat-form-field>
            <mat-form-field>
                <input matInput type='date' placeholder='Birth date' [(ngModel)]='employee.BirthDate'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder='Address' [(ngModel)]='employee.HomeAddress'>
            </mat-form-field>

            <input type='checkbox' placeholder='Has Left' [(ngModel)]='employee.HasLeft'> 
            Has Left

            <mat-form-field>
                <input matInput type='email' placeholder='Email Adress' [(ngModel)]='employee.Email'>
            </mat-form-field>

            <mat-radio-group>
                <mat-radio-button value='0'>Full Time</mat-radio-button>
                <mat-radio-button value='1'>Part Time</mat-radio-button>
                <mat-radio-button value='2'>Manager</mat-radio-button>
            </mat-radio-group>

            <mat-form-field>
                <input matInput placeholder='username' [(ngModel)]='employee.FirstName'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder='Last name' [(ngModel)]='employee.LastName'>
            </mat-form-field>
            
        </div>
    </div>

</div>