/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$light-brown :#E9DBCB;
$medium-brown: #AA8C69;
$brown: #725B40;
$dark-brown:#3E2723;

* {
  color: #111111;
}
