/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$light-brown :#E9DBCB;
$medium-brown: #AA8C69;
$brown: #725B40;
$dark-brown:#3E2723;
$yellow:#ffc107;
$red: #dc3545;
$green: #28a745;
* {
  color: $dark-brown;
}


body {
    background-color: $light-brown;
}

// common styles 
@mixin common_style {
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $light-brown;
    
        .container {
            padding: 16px 0;
            width: 100%;
            max-width: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;
            // background: $medium-brown;
            color: $dark-brown;
            // box-shadow: 0px 0px 8px 0px #0000005c;
    
        }
    }        
}

@mixin input-box {
    .field {
    width: 75%;
    padding: 8px;

        .label {
            font-weight: bolder;
        }

        .input-box {
            width: 100%;
            border: none;
            background-color: #DDDDDD;
            padding: 8px;
        }
    }
}