/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$light-brown: #e9dbcb;
$medium-brown: #aa8c69;
$brown: #725b40;
$dark-brown: #3e2723;
$yellow: #ffc107;
$red: #dc3545;
$green: #28a745;
$shadow: 0px 0px 6px #272727;
* {
  color: $dark-brown;
}

body {
  background-color: $light-brown;
}

.typo-title {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

// common styles
@mixin common_style {
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-brown;

    .container {
      width: 100%;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      align-items: center;
      // background: $medium-brown;
      color: $dark-brown;
      // box-shadow: 0px 0px 8px 0px #0000005c;
    }
  }
}

.field {
  width: 75%;
  padding: 8px;

  .label {
    font-weight: bolder;
  }
  
  .input-box {
    width: 100%;
    border: none;
    background-color: #dddddd;
    padding: 8px;
    border-radius: 8px  ;
  }
}

// normal buttons
@mixin button_style {
  height: 36px;
  border-radius: 16px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

// preset grid layouts
@mixin single-item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  > * {
    margin: 8px;
  }
}

.centered {
  @include single-item;
  width: 100%;
  justify-items: center;
}

.one-item {
  @include single-item;
  width: 100%;
  justify-items: stretch;
}

.three-per-row {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;

  > * {
    margin: 8px;
  }
}

.two-per-row {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  > * {
    margin: 8px;
  }
}


hr.divider {
  width: 100%;
  border: 0.5px solid $medium-brown;
}


.header-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 96px auto 96px;
  grid-template-rows: 72px;
}


.circle-button {
  background-color: $dark-brown;
  color: $light-brown;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;

  height: 48px;
  width: 48px;
  margin-right: 32px;
  border: none;
  border-radius: 50%;
  justify-self: end;
}

.rounded-button {
  height: 36px;
  width: 96px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border: 0.5px solid $brown;
  border-radius: 16px;
  background-color: transparent;

  mat-icon {
      margin: auto;
      font-size: 36px;
  }
}

.grid-centered {
  justify-items: center;
  align-items: center;
}