<!-- <div class="container">
  <h1 mat-dialog-title>Create Branch</h1>
  <div mat-dialog-content class="center">
    <mat-form-field>
      <input matInput [(ngModel)]="data.BranchName" placeholder="Branch Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.OpenDate" placeholder="Opening Date">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.DailyHours" placeholder="BranchName">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.BranchName" placeholder="BranchName">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.BranchName" placeholder="BranchName">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div> -->
branch info works